.image_gallery img{
width: 375px;
display: block;
filter:grayscale(100%);
}

.image_gallery div{
    display: block;
    float:left;
}

body{
    color:white;
    background-color: black;
    text-align: center;
}

.image_gallery img:hover{
    filter:grayscale(0);
}