.nav_bar ul{
  margin-left: 300px;
}

.nav_bar button{
    border-radius: 15px;
    background-color:red;
    color:white;
    width: 160px;
    height: 40px;
}

.nav_bar form:hover{
    border: 3px solid red;
    border-radius: 20px;
}

.margin_adj{
    margin: 0px 5px;
}

.lets_talk{
    border-radius: 30px;
    background-color: red;
    color: white;
    width: 130px;
    height: 60px;
}

#col_1{
    margin-top: 150px;
}

#col_1 h1{
    font-weight: bolder;
    font-size: 50px;
}

#col_1 h5{
    word-spacing: 5px;
    line-height: 35px;
}

#col_1 div:hover{
    width: 135px;
    border: 3px solid red;
    border-radius: 30px;
}

.nav_bar ul li:hover{
    text-decoration: underline;
    color:red;
}